:root {
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; */
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  font-family: Poppins;
  color: rgba(255, 255, 255, 1); /*this is font color (universal) */
  background-color: #0a0a0a; /*changed the background color*/

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

/* div#root{
  margin: 0;
} */

@font-face {
  font-family: 'YapariTrial';
  src: url('/fonts/YapariTrial-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'YapariTrial';
  src: url('/fonts/YapariTrial-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /*grid background*/
  background-image:
  
  linear-gradient(/* vertical lines */
  to right,
  rgba(255, 255, 255, 0.05) 1px,
  transparent 1px
  ),
  
  linear-gradient(/* horizontal lines */
  to bottom,
  rgba(255, 255, 255, 0.05) 1px,
  transparent 1px
  );
  
  background-size: 70px 70px; /* 70px ke grid squares */

  min-height: 100vh; /* to cover entire viewport */
}


/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */