:root {
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; */
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  font-family: Poppins;
  color: rgba(255, 255, 255, 1); /*this is font color (universal) */
  background-color: #0a0a0a; /*changed the background color*/

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

/* div#root{
  margin: 0;
} */

@font-face {
  font-family: 'YapariTrial';
  src: url('/fonts/YapariTrial-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'YapariTrial';
  src: url('/fonts/YapariTrial-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /*grid background*/
  background-image:
  
  linear-gradient(/* vertical lines */
  to right,
  rgba(255, 255, 255, 0.05) 1px,
  transparent 1px
  ),
  
  linear-gradient(/* horizontal lines */
  to bottom,
  rgba(255, 255, 255, 0.05) 1px,
  transparent 1px
  );
  
  background-size: 70px 70px; /* 70px ke grid squares */

  min-height: 100vh; /* to cover entire viewport */
}

header{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem 0rem;
  margin: 0 auto;
  /* justify-self: center; */
}

.logo-container{
  display: flex;
  align-items: center; 
}

.logo-container img{
  width: 170px;
}

nav{
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center; 
}

nav ul{
  display: flex; 
  list-style: none; 
  margin: 0;
  padding: 0;
  border: 2px solid white;
  padding: 1rem 0.5rem;
  border-radius: 2rem;
}

nav a{
  background-color: transparent;
  padding: 10px 20px; 
  border-radius: 20px; 
  text-decoration: none; 
  margin: 0 5px; 
  color: white;
}

nav a.active{
  background-color: #4a5565;
}

nav a:hover{
  background-color: #4a5565;
}

.register-button {
  position: relative;
  border: 2px solid white;
  border-radius: 2rem;
  display: inline-block; 
  overflow: hidden;
}

.register-button a {
  background-color: transparent;
  padding: 8px 24px;
  border-radius: 20px;
  text-decoration: none;
  font-size: 16px;
  color: #fff; 
  display: block; 
  position: relative; 
  z-index: 1; 
}

.register-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%; 
  width: 100%;
  height: 100%;
  background-color: transparent;
  
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff; 
  font-size: 16px;
  text-decoration: none;
  z-index: 0; 
  pointer-events: none; 
}


.register-button:hover a {
  color: white;
}

.register-button:hover::before {
  animation: slideInFromLeft 0.5s ease forwards; 
  color: white;
  background-color: #FAA41A; 
}

@keyframes slideInFromLeft {
  0% {
    left: -100%; 
  }
  100% {
    left: 0; 
  }
}

.home{
  display: flex;
  flex-direction: column;
  padding: 0rem 4rem;
  background-image: url('/home/home_background.svg');
  border-radius: 40px;
  position: relative;
}

.home_heading{
  font-family: YapariTrial;
  font-size: 5rem;
  font-weight: bold;
  color: white;
  /* margin-top: 1rem; */
  z-index: 1;
}

.home_subheading{
  font-family: YapariTrial;
  font-size: 1rem;
  font-weight: bold;
  color: #FAA41A;
  z-index: 1;
}

.compass_grid {
  display: grid;
  position: absolute;
  grid-template-columns: 1fr 2fr 1fr;
  top: 0; 
  bottom: 0; 
  left: 0; 
  right: 0; 
  align-items:last baseline; 
  justify-items: end;
  z-index: 0;
}

.home_grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  z-index: 1;
}

.home_left{
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
  padding-bottom: 3rem;
  gap: 2rem;
}

.left_1{
  font-size: 60px;
  font-family: YapariTrial;
  font-weight: bold;
  line-height: 80%;
}

.left_2{
  font-size: 16px;
  font-family: Poppins;
}

.left_3{
  display: flex;
  flex-direction: row;
  margin: 2rem auto;
}

.left_3_1{
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  border-radius: 4rem;
  color: white;
  padding: 0.8rem 2.5rem;
}

.left_3_1 div{
  font-size: 16px;
  font-weight: 600;
}

.left_3_1 p{
  font-size: 14px;
  opacity: 50%;
}

.left_3_2{
  display: flex;
  align-items: center;
  justify-items: center;
  background-color: #FAA41A;
  border-radius: 50%;
  transform: translateX(-1rem);
  padding-left: 1.8rem;
  padding-right: 1.8rem;
}

.home_right{
  display: flex;
  flex-direction: column;
  align-items:end;
  padding-bottom: 3rem;
}

.right_1{
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-family: YapariTrial;
  align-items: center;
  width: 250px;
  border: 1px dashed white;
  border-radius: 1rem;
  padding: 1rem;
  margin: 0.75rem 0;
}

.right_1 div{
  font-size: 48px;
  color: #FAA41A;
  line-height: 90%;
}

.right_1 p{
  font-size: 20px;
}

.right_2{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
  border: 1px dashed #ffffff;
  border-radius: 1rem;
  padding: 1rem;
  font-family: YapariTrial; 
  margin: 0.75rem 0;
}

.fraction {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.numerator_wrapper, .denominator_wrapper{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.numerator_wrapper p, .denominator_wrapper p{
  color: rgba(250, 164, 26, 0.4);
}

.numerator, .denominator {
  font-size: 48px;
  font-weight: bold;
  color: #FAA41A;
}

.fraction hr{
  border: none;
  height: 8px;
  background: rgba(250, 164, 26, 0.4);
  width: 100%;
  margin: 0;
}

.right_date {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.right_3{
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  grid-template-rows: repeat(2, 1fr);
  margin-top: 0.75rem;
  gap: 0.8rem;
  width: 250px;
  border-radius: 10px;
  box-sizing: border-box;
}

.right_3 div{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px dashed #ffffff;
  border-radius: 10px; 
  padding: 10px;
}

.sponsors{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background:transparent;
  padding: 0px;                                                                                                                                                                                                                                                                                                                                                                                            
  width: 100%;
  /* box-sizing: content-box; */
  margin: 5rem auto;
}

.schedule h1{
  font: normal 600 69.15px YapariTrial;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  margin: 66px 0px 0px 0px;
}

.schedule h2 {
  font: normal 600 20.16px Poppins;
  line-height: 100%;
  color: rgba(250, 164, 26, 1);
  letter-spacing: 0%;
  text-align: center;
  margin: 0 0 15px 0;
}

.roadmap{
  display: flex;
  flex-direction: column;
  background: transparent;
  border: 2px dashed white;
  border-radius: 40.16px;
  padding: 40px;
  width: 1440px;
  margin: 33px auto;
}

.schedule_heading{
  font: normal 600 36px YapariTrial;
  color: rgba(250, 164, 26, 1);
  text-decoration: underline solid rgba(250, 164, 26, 1);
  text-align: center;
  align-items: center;
  margin: 0 auto;
}

.roadmap_part-1{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  padding-top: 1.5rem;
  margin: 0 auto;
}

.roadmap_part-2{ 
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  margin: 0 auto;
  margin-top: 1rem;
}

.nextline_arrow{
  display: flex;
  flex-direction: column;
}

.nextline_arrow div{
  height: 120px;
}

.roadmap_part-3{ 
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  padding-top: 1.5rem;
}

.date_container{
  display: flex;
  flex-direction: column;
  font-family: YapariTrial;
}

.date{
  color: #FAA41A;
  font-size: 39.647px;
  font-style: normal;
  font-weight: 600;
  /* line-height: calc(2.5/2.25); */
  line-height: normal;
}

.month{
  color: #FFF;
  font-size: 21.509px;
  font-style: normal;
  font-weight: 600;
  /* line-height: calc(2.5/2.25); */
  line-height: normal;
}

.schedule_details{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* max-width: 100%; */
  min-width: 256px;
  height: 120px;
  /* padding: 14px 16.805px; */
  padding: 1rem;
  text-align: center;
  font: normal 600 17.24px Poppins;

  border-radius: 2rem;
  border: 0.533px dashed #F1F1F1;
  background: rgba(107, 102, 102, 0.07);
  box-shadow: 0px 6.281px 6.281px 0px rgba(0, 0, 0, 0.06);
  backdrop-filter: blur(167.16493225097656px);
}

.schedule_details p{
  font-size: 12.93px;
}

.timmings{
  display: flex;
  height: min-content;
  /* padding: 11.01px 47.62px; */
  padding-block: 8px;
  width: 144px;
  /* line-height: calc(1.25 / 0.875); */
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-bottom: 10.67px;

  border-radius: 30.941px;
  background: rgba(255, 255, 255, 0.10);
  box-shadow: 0px 6.281px 6.281px 0px rgba(0, 0, 0, 0.06);
  backdrop-filter: blur(167.16493225097656px);
}

.article-background {
  position: relative;
  background: radial-gradient(circle farthest-side at top center,
    #D5A455 0%,
    #CA9848 8%,
    #B68637 16%,
    #946923 25%,
    #725017 35%,
    #5D4013 45%,
    #4E3610 55%,
    #422E0E 65%,
    #271D0E 75%,
    #1A150C 85%,
    #0C0C0C 100%
  );
  /* background-image: url('/tracks_background.svg'); */
  padding: 49px 58px 59.5px 58px;                                                                                                                                                                                                                                                                                                                                                                                            
  border-radius: 10px;
  /* width: 1274px; */
  width: 1440px;
  margin: 3rem auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}


.article-background h1 {
  font: normal 600 69.15px YapariTrial;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  margin: 0 0 10px 0;
}

.track_container h2 {
  font: normal 600 20.16px Poppins;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  margin: 0 0 15px 0;
}

.track_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(406px, 1fr));
  margin: 0 auto;
}

.track_item {
  background-color: rgba(107, 102, 102, 0.07);
  backdrop-filter: 5px;
  margin: 9.5px 15px 9.5px 15px;
  border-radius: 30.94px;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 2px dashed rgba(241, 241, 241, 1);
  min-height: 289px;
  display: flex;
  flex-direction: column; /* aligns image and text vertically */
  align-items: center;
  justify-content: center;
  text-align: center;
}

.track_item img{
  transform: translateY(50px);
}

.track_subject{
  color: #faa41a;
  /* font-weight: 600; */
}

.hidden {
  opacity: 0;
  /* z-index: 10; */
  transform: translateY(50px); /*start 50px below its actual position*/
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  background: transparent;
  color: white;
  padding: 5px;
  font: normal 500 18px Poppins;
  text-align: center;
  width: fit-content;
}

.track_item:hover{
    background: linear-gradient(to bottom, 
    rgba(12, 12, 12, 0.8),
    rgba(26, 21, 12, 0.8),
      rgba(39, 29, 14, 0.8)
    );
}

.track_item:hover .hidden {
  opacity: 1;
  transform: translateY(0); /* slide up to its actual position */
}

.track_item img {
  transition: transform 0.3s ease;
}

.track_item:hover img {
  transform: scale(0.7);
}

.about_us {
  display: flex;
  flex-direction: column;
  width: 1440px;
  padding: 64px 32px;
  margin: 0 auto;
}

.about_header {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 40px;
}

.about_header h1 {
  font-size: 69.15px;
  font-weight: bold;
  color: #fff;
  margin: 0 auto;
  font-family: YapariTrial;
  line-height: 80%;
}

.about_header h2 {
  font-size: 20.16px;
  font-weight: bold;
  margin: 0 auto;
  font-family: Poppins;
  color: #FAA41A;
}

.about_container {
  justify-items: center;
}

.about_sub_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 1163px;
  gap: 3rem;
}

.about_logo {
  flex: 1;
  justify-content: flex-start;
}

.yellow {
  position: absolute;
  animation: rotateVertical_1 4s linear infinite;
  transform-style: preserve-3d;
}

.white {
  animation: rotateVertical_2 4s linear infinite;
  transform-style: preserve-3d;
}


@keyframes rotateVertical_1 {
  0% {
    transform: rotateY(90deg);
  }
  50% {
    transform: rotateY(90deg);
  }
  100% {
    transform: rotateY(270deg);
  }
}

@keyframes rotateVertical_2 {
  0% {
    transform: rotateY(-90deg);
  }
  50% {
    transform: rotateY(90deg);
  }
  100% {
    transform: rotateY(90deg);
  }
}

.about_details{
  flex: 1;
  display: flex;
  flex-direction: column;
}

.cs-text {
  font-family: YapariTrial;
  font-size: 128px;
  font-weight: bold;
  justify-content: flex-start;
  line-height: 90%;
  color: #FAA41A;
  text-shadow: 0 0 64px #fff;
  animation: color-transition 4s infinite;
}

@keyframes color-transition {
  0%{
    color: #FAA41A;
    text-shadow: 0 0 24px #FAA41A;
  }
  50%{
      color: #fff;
      text-shadow: 0 0 24px #fff;
  }
  100%{
    color: #FAA41A;
    text-shadow: 0 0 24px #FAA41A;
  }
}

.about_details hr{
  border: none;
  height: 0.1rem;
  background: #FAA41A;
  width: 100%;
  margin: 1rem auto;
}

.about_text {
  font-family: Poppins;
  font-size: 14px;
}

.about_text p {
  margin-bottom: 20px;
}

footer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 1440px;
  margin: 0;
  padding: 32px 40px;
  background:
    linear-gradient(
        180deg,
        #0C0C0C 0%,
        #1A150C 20%,
        #FAA41A 100%
      );
}

.footer_logo{
  display: flex;
  flex-direction: row;
  flex: 2fr;
  padding-right: 1rem;
}

.footer_logo div{
  font-size: 100px;  
  padding-left: 35px;
  padding-right: 35px;
}

.footer_contacts{
  display: flex;
  flex-direction: column;
  flex: 1fr;
  border-left:2px solid white ;
  border-right:2px solid white ;
  padding: 10px 60px;
  text-align: center;
}

.footer_contacts div{
  margin: 10px auto;
}

.footer_contacts div span{
  font-weight: bold;
  font-size: 24px;
  margin: 0 auto;
}

.footer_contacts div p{
  font-size: 16px;
  margin: 0 auto;
}

.social_media{
  display: flex;
  flex-direction: column;
  flex: 1fr;
  gap: 1rem;
  padding: 50px;
}

.links{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.links a{
  color: white;
  font-size: 1rem;
}

.media_icons{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.media_icons img{
  border: 1px solid white;
  border-radius: 1rem;
  padding: 10px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}