.sponsors{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background: transparent;
    padding: 0px;
    width: 100%;
    margin: 5rem auto;
    max-width: 1440px;
}

@media screen and (max-width: 1024px) {
    .sponsors {
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
        margin: 3rem auto;
    }

    .sponsors div {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 768px) {
    .sponsors img {
        width: 80%;
    }
}